%h1 Listing destinations

%table
  %tr
    %th Zip code
    %th State
    %th City
    %th Street
    %th Latitude
    %th Longitude
    %th
    %th
    %th

  - @destinations.each do |destination|
    %tr
      %td= destination.zip_code
      %td= destination.state
      %td= destination.city
      %td= destination.street
      %td= destination.latitude
      %td= destination.longitude
      %td= link_to 'Show', destination
      %td= link_to 'Edit', edit_destination_path(destination)
      %td= link_to 'Destroy', destination, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Destination', new_destination_path
