!!!
%html
  %head
    %title triptext // saving lives one text at a time
    = csrf_meta_tags
    %meta{:name => "viewport" :content => "width=device-width"}
  %body
    = render 'header'
    .content
      = yield

  %footer
    %script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true